.post-wrapper {
    display: flex;
  }
  
  .post-container {
    width: 100%;
  }
  
  .post-details {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-details .author-username {
    font-weight: bold;
  }
  
  .post-image-container {
    width: 100%;
    overflow: hidden;
  }
  
  .post-image-container .post-image {
    width: 100%;
  }
  
  .post-title {
    margin: 0;
  }

  .post-votes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-action {
    font-size: 1.5rem;
  }

  .icon-action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .post-comments-container {
    display: flex;
    align-items: center;
  }
  
  .author-details {
    display: flex;
    align-items: center;
  }
  